In [16]:
import pandas as pd

In [17]:
cooperados = pd.read_csv("C:/Users/leall/Downloads/ListaCooperados.csv", sep=';' , encoding='utf-8')
cooperados

       REF_BACEN  NU_ORDEM      CpfCnpj TipoPessoa ValorParcela
0      513438348         1  28551176900          F     321141,3
1      512809373         1  10123523664          F       382148
2      506600138         1  45630895915          F          148
3      507166045         1      7829117          J    245123,03
4      514044818         1   2422091903          F        10200
...          ...       ...          ...        ...          ...
63186  505216731         1  50334093953          F        10000
63187  505216731         1  72841060934          F        10000
63188  505216731         1  21946981915          F        10000
63189  505216731         1  60961643900          F        10000
63190  505216731         1  52607151953          F        10000

[63191 rows x 5 columns]

In [18]:
cooperados['CpfCnpj'] = cooperados['CpfCnpj'].astype(str)

cooperados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63191 entries, 0 to 63190
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   REF_BACEN     63191 non-null  int64
 1   NU_ORDEM      63191 non-null  int64
 2   CpfCnpj       63191 non-null  object
 3   TipoPessoa    63191 non-null  object
 4   ValorParcela  63191 non-null  object
dtypes: int64(2), object(3)
memory usage: 2.4+ MB

In [19]:
errados = cooperados[cooperados['CpfCnpj'].str.len() <= 10]

quantidade_registros = len(errados)


print("Linhas filtradas:")
print(errados)

Linhas filtradas:
       REF_BACEN  NU_ORDEM     CpfCnpj TipoPessoa ValorParcela
3      507166045         1     7829117          J    245123,03
4      514044818         1  2422091903          F        10200
5      507326278         1  4823759907          F     17862,33
6      505367109         1  8368777640          F       2842,8
8      507521231         1  2494551021          F       137808
...          ...       ...         ...        ...          ...
63157  505216731         1  7390340908          F        10000
63159  505216731         1  3178316906          F        10000
63164  505216731         1  6136521938          F        10000
63169  505216731         1   757321062          F        10000
63175  505216731         1  7578946900          F        10000

[22467 rows x 5 columns]

In [20]:
contagem_tipo_pessoa = errados['TipoPessoa'].value_counts()

contagem_tipo_pessoa

TipoPessoa
F    20864
J     1603
Name: count, dtype: int64

In [21]:
cpf = cooperados[cooperados['CpfCnpj'].str.len() == 11]

quantidade_cpf = len(cpf)

print(quantidade_cpf)

x = cpf['TipoPessoa'].value_counts()

cpf.to_csv("cooperados_corrigido.csv")

40724

In [22]:
cnpj = cooperados[cooperados['CpfCnpj'].str.len() == 14]

quantidade_cnpj = len(cnpj)

print(quantidade_cnpj)

y = cnpj['TipoPessoa'].value_counts()

y

0

Series([], Name: count, dtype: int64)

In [23]:
cooperados['cnpj'] = cooperados.loc[cooperados['TipoPessoa'] == 'J', 'CpfCnpj'].fillna('-')

cooperados['cpf'] = cooperados.loc[cooperados['TipoPessoa'] == 'F', 'CpfCnpj'].fillna('-')

cooperados['cpf'] = cooperados['cpf'].fillna('-')
cooperados['cnpj'] = cooperados['cnpj'].fillna('-')

cooperados = cooperados.drop(columns=['CpfCnpj'])

cooperados.to_csv("corrigido_cnpj.csv")

In [24]:
fix_data = pd.read_csv("C:/Users/leall/Downloads/operacao_credito_estadual_att.csv", sep=';')

fix_data

,REF_BACEN,NU_ORDEM,DT_EMISSAO,DT_VENCIMENTO,CD_ESTADO,CD_EMPREENDIMENTO,idPrograma,idIrrigacao,CD_TIPO_AGRICULTURA,idCiclo,CD_TIPO_CULTIVO,idGrao,DT_FIM_COLHEITA,DT_FIM_PLANTIO,DT_INIC_COLHEITA,DT_INIC_PLANTIO,DT_COMUNICACAO,idCultivar,idSolo,idEvento
0,513678782,1,04/06/2022,02/15/2023,RS,"1,20E+13",1.0,1.0,3.0,22.0,0.0,8.0,11/17/2022,06/30/2022,10/19/2022,06/01/2022,11/01/2022,2.0,3.0,17.0
1,512621574,1,08/25/2021,10/28/2022,RS,"1,20E+13",50.0,1.0,7.0,22.0,3.0,8.0,04/30/2022,12/31/2021,04/01/2022,11/03/2021,03/04/2022,99.0,9.0,48.0
2,513364988,1,01/14/2022,08/15/2022,PR,"1,20E+13",1.0,1.0,7.0,22.0,3.0,3.0,06/11/2022,02/19/2022,06/11/2022,02/19/2022,05/11/2022,1.0,3.0,110.0
3,511691096,1,03/12/2021,11/15/2021,PR,"1,20E+13",1.0,1.0,7.0,22.0,0.0,8.0,07/19/2021,03/30/2021,07/05/2021,03/22/2021,06/04/2021,1.0,3.0,48.0
4,509326471,1,10/31/2019,07/05/2024,RS,"1,20E+13",50.0,1.0,7.0,22.0,2.0,8.0,05/05/2020,12/05/2019,03/25/2020,11/05/2019,03/27/2020,99.0,3.0,48.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60329,512666190,1,08/31/2021,08/23/2022,RS,"1,20E+13",1.0,1.0,3.0,22.0,0.0,8.0,02/05/2022,09/25/2021,01/05/2022,09/02/2021,01/07/2022,1.0,3.0,48.0
60330,512346530,1,07/21/2021,07/06/2022,PR,"1,20E+13",1.0,1.0,7.0,22.0,0.0,8.0,02/10/2022,09/15/2021,02/01/2022,09/01/2021,01/12/2022,1.0,3.0,48.0
60331,512600233,1,08/23/2021,06/29/2022,SC,"1,20E+13",1.0,1.0,7.0,22.0,0.0,0.0,03/30/2022,11/10/2021,02/01/2022,09/10/2021,01/03/2022,99.0,3.0,48.0
60332,512745606,1,09/15/2021,06/29/2022,RS,"1,20E+13",1.0,1.0,7.0,22.0,0.0,8.0,03/30/2022,12/15/2021,02/01/2022,11/15/2021,03/28/2022,1.0,2.0,48.0
60333,512312032,1,07/16/2021,05/30/2022,RS,"1,20E+13",1.0,1.0,5.0,22.0,0.0,8.0,02/28/2022,09/06/2021,02/28/2022,09/05/2021,12/06/2021,2.0,3.0,48.0

In [25]:
fix_data['DT_EMISSAO'] = pd.to_datetime(fix_data['DT_EMISSAO'],format='mixed').dt.strftime('%d/%m/%Y')
fix_data['DT_VENCIMENTO'] = pd.to_datetime(fix_data['DT_VENCIMENTO'],format='mixed').dt.strftime('%d/%m/%Y')
fix_data['DT_FIM_COLHEITA'] = pd.to_datetime(fix_data['DT_FIM_COLHEITA'],format='mixed').dt.strftime('%d/%m/%Y')
fix_data['DT_INIC_COLHEITA'] = pd.to_datetime(fix_data['DT_INIC_COLHEITA'],format='mixed').dt.strftime('%d/%m/%Y')
fix_data['DT_INIC_PLANTIO'] = pd.to_datetime(fix_data['DT_INIC_PLANTIO'],format='mixed').dt.strftime('%d/%m/%Y')
fix_data['DT_COMUNICACAO'] = pd.to_datetime(fix_data['DT_COMUNICACAO'],format='mixed').dt.strftime('%d/%m/%Y')
fix_data['DT_FIM_PLANTIO'] = pd.to_datetime(fix_data['DT_FIM_PLANTIO'],format='mixed').dt.strftime('%d/%m/%Y')

print(fix_data)

       REF_BACEN  NU_ORDEM  DT_EMISSAO DT_VENCIMENTO CD_ESTADO  \
0      513678782         1  06/04/2022    15/02/2023        RS
1      512621574         1  25/08/2021    28/10/2022        RS
2      513364988         1  14/01/2022    15/08/2022        PR
3      511691096         1  12/03/2021    15/11/2021        PR
4      509326471         1  31/10/2019    05/07/2024        RS
...          ...       ...         ...           ...       ...
60329  512666190         1  31/08/2021    23/08/2022        RS
60330  512346530         1  21/07/2021    06/07/2022        PR
60331  512600233         1  23/08/2021    29/06/2022        SC
60332  512745606         1  15/09/2021    29/06/2022        RS
60333  512312032         1  16/07/2021    30/05/2022        RS

      CD_EMPREENDIMENTO  idPrograma  idIrrigacao  CD_TIPO_AGRICULTURA  \
0              1,20E+13         1.0          1.0                  3.0
1              1,20E+13        50.0          1.0                  7.0
2              1,20E+13         1.0          1.0                  7.0
3              1,20E+13         1.0          1.0                  7.0
4              1,20E+13        50.0          1.0                  7.0
...                 ...         ...          ...                  ...
60329          1,20E+13         1.0          1.0                  3.0
60330          1,20E+13         1.0          1.0                  7.0
60331          1,20E+13         1.0          1.0                  7.0
60332          1,20E+13         1.0          1.0                  7.0
60333          1,20E+13         1.0          1.0                  5.0

       idCiclo  CD_TIPO_CULTIVO  idGrao DT_FIM_COLHEITA DT_FIM_PLANTIO  \
0         22.0              0.0     8.0      17/11/2022     30/06/2022
1         22.0              3.0     8.0      30/04/2022     31/12/2021
2         22.0              3.0     3.0      11/06/2022     19/02/2022
3         22.0              0.0     8.0      19/07/2021     30/03/2021
4         22.0              2.0     8.0      05/05/2020     05/12/2019
...        ...              ...     ...             ...            ...
60329     22.0              0.0     8.0      05/02/2022     25/09/2021
60330     22.0              0.0     8.0      10/02/2022     15/09/2021
60331     22.0              0.0     0.0      30/03/2022     10/11/2021
60332     22.0              0.0     8.0      30/03/2022     15/12/2021
60333     22.0              0.0     8.0      28/02/2022     06/09/2021

      DT_INIC_COLHEITA DT_INIC_PLANTIO DT_COMUNICACAO  idCultivar  idSolo  \
0           19/10/2022      01/06/2022     01/11/2022         2.0     3.0
1           01/04/2022      03/11/2021     04/03/2022        99.0     9.0
2           11/06/2022      19/02/2022     11/05/2022         1.0     3.0
3           05/07/2021      22/03/2021     04/06/2021         1.0     3.0
4           25/03/2020      05/11/2019     27/03/2020        99.0     3.0
...                ...             ...            ...         ...     ...
60329       05/01/2022      02/09/2021     07/01/2022         1.0     3.0
60330       01/02/2022      01/09/2021     12/01/2022         1.0     3.0
60331       01/02/2022      10/09/2021     03/01/2022        99.0     3.0
60332       01/02/2022      15/11/2021     28/03/2022         1.0     2.0
60333       28/02/2022      05/09/2021     06/12/2021         2.0     3.0

       idEvento
0          17.0
1          48.0
2         110.0
3          48.0
4          48.0
...         ...
60329      48.0
60330      48.0
60331      48.0
60332      48.0
60333      48.0

[60334 rows x 20 columns]

In [26]:
fix_data.shape

(60334, 20)

In [27]:
fix_data = fix_data.drop_duplicates()

In [28]:
fix_data.shape

(3100, 20)

In [30]:
fix_data.to_csv("op_estadual_att.csv")