In [8]:
from sqlalchemy import create_engine, text
from flask import Flask, jsonify, request
from dotenv import load_dotenv
import pandas as pd
import os

load_dotenv()

True

In [9]:
df_previsoes = pd.read_csv('../data/previsoes.csv')
df_previsoes = df_previsoes.loc[:, ~df_previsoes.columns.str.startswith('Unnamed')]

df_prev = pd.read_csv('../data/previsoes_1.csv')
df_prev = df_prev.loc[:, ~df_prev.columns.str.startswith('Unnamed')]

In [10]:
concatenado = pd.concat([df_previsoes, df_prev])
concatenado

        date  ref_bacen    indice  previsao
0    2017-08  506273616  0.018645       NaN
1    2017-10  506273616  0.024464       NaN
2    2017-11  506273616  0.015563       NaN
3    2017-12  506273616  0.005570       NaN
4    2018-01  506273616  0.008844       NaN
..       ...        ...       ...       ...
197  2022-10  512309065       NaN  0.055957
198  2022-11  512309065       NaN  0.064007
199  2022-12  512309065       NaN  0.053456
200  2023-01  512309065       NaN  0.062253
201  2023-02  512309065       NaN  0.143354

[275 rows x 4 columns]

In [13]:
concatenado.head()

      date  ref_bacen    indice  previsao
0  2017-08  506273616  0.018645       NaN
1  2017-10  506273616  0.024464       NaN
2  2017-11  506273616  0.015563       NaN
3  2017-12  506273616  0.005570       NaN
4  2018-01  506273616  0.008844       NaN

In [ ]:
query = ''' SELECT * from 
        vw_query_glebas_resultado
            WHERE 1=1'''

engine = create_engine(os.getenv('url_heroku'))

conn = engine.connect()

criar consulta dos dados na view 'public.vw_query_glebas_resultado'

In [89]:
query = ''' SELECT * from 
        vw_query_glebas_resultado
            WHERE 1=1'''

engine = create_engine(os.getenv('url_heroku'))

conn = engine.connect()

# Executar a query
resultados = conn.execute(text(query)).fetchall()

# Montar a lista de resultados
lista_resultados = []
for resultado in resultados:
    resultado_dict = {
        "ref_bacen": resultado.ref_bacen,
        "nu_identificador": resultado.nu_identificador,
        "coordenadas": resultado.coordenadas,
        "inicio_plantio": resultado.inicio_plantio,
        "final_plantio": resultado.final_plantio,
        "inicio_colheita": resultado.inicio_colheita,
        "final_colheita": resultado.final_colheita,
        "descricao_grao": resultado.descricao_grao,
        "descricao_irrigacao": resultado.descricao_irrigacao,
        "descricao_producao": resultado.descricao_producao,
        "descricao_solo": resultado.descricao_solo, 
        "descricao_evento": resultado.descricao_evento, 
        "descricao_cultiva": resultado.descricao_cultiva,
        "estado": resultado.estado,
        "municipio": resultado.municipio,
        "produto": resultado.produto
    }
    lista_resultados.append(resultado_dict)

#  Fechar a conexão
conn.close()

In [90]:
df = pd.DataFrame(lista_resultados)

In [91]:
df

,ref_bacen,nu_identificador,coordenadas,inicio_plantio,final_plantio,inicio_colheita,final_colheita,descricao_grao,descricao_irrigacao,descricao_producao,descricao_solo,descricao_evento,descricao_cultiva,estado,municipio,produto
0,7427021,1,"-24.434501,-52.2819015/-24.434501,-52.2819015/...",None,None,None,None,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Geada,Grupo I,PR,None,SOJA
1,7427021,2,"-24.435643,-52.2816107/-24.435643,-52.2816107/...",None,None,None,None,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Geada,Grupo I,PR,None,SOJA
2,8311073,2,"-27.74885,-53.3360789/-27.74885,-53.3360789/-2...",2016-08-01,2016-08-31,2017-04-01,2017-04-30,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Seca,Grupo I,RS,None,SOJA
3,8311073,3,"-27.7435651,-53.3335104/-27.7435651,-53.333510...",2016-08-01,2016-08-31,2017-04-01,2017-04-30,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Seca,Grupo I,RS,None,SOJA
4,8311073,5,"-27.7494282,-53.3334653/-27.7494282,-53.333465...",2016-08-01,2016-08-31,2017-04-01,2017-04-30,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Seca,Grupo I,RS,None,SOJA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6221,514772617,1,"-28.8740533,-52.2976289/-28.8740533,-52.297628...",2022-11-01,2022-11-30,2023-03-20,2023-04-10,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Granizo,Grupo I,RS,None,SOJA
6222,514817977,1,"-25.5864708,-52.2880498/-25.5864708,-52.288049...",2022-09-23,2022-09-23,2023-01-15,2023-01-15,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Variacao excessiva de temperatura,Nao informado,PR,None,SOJA
6223,514817977,2,"-25.5812935,-52.2916992/-25.5812935,-52.291699...",2022-09-23,2022-09-23,2023-01-15,2023-01-15,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Variacao excessiva de temperatura,Nao informado,PR,None,SOJA
6224,514927231,1687415,"-26.692262,-52.2782132/-26.692262,-52.2782132/...",2022-10-21,2022-10-30,2023-01-15,2023-02-15,Semente,Não Irrigado,Anual,Solo argiloso,Chuva excessiva,Grupo I,SC,None,SOJA
6225,514927231,1687416,"-26.6923258,-52.2786035/-26.6923258,-52.278603...",2022-10-21,2022-10-30,2023-01-15,2023-02-15,Semente,Não Irrigado,Anual,Solo argiloso,Chuva excessiva,Grupo I,SC,None,SOJA

In [92]:
predicoes_df = df.merge(df_previsoes, on='ref_bacen', how='left')

In [93]:
predicoes_df

,ref_bacen,nu_identificador,coordenadas,inicio_plantio,final_plantio,inicio_colheita,final_colheita,descricao_grao,descricao_irrigacao,descricao_producao,descricao_solo,descricao_evento,descricao_cultiva,estado,municipio,produto,date,previsao
0,7427021,1,"-24.434501,-52.2819015/-24.434501,-52.2819015/...",None,None,None,None,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Geada,Grupo I,PR,None,SOJA,NaN,NaN
1,7427021,2,"-24.435643,-52.2816107/-24.435643,-52.2816107/...",None,None,None,None,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Geada,Grupo I,PR,None,SOJA,NaN,NaN
2,8311073,2,"-27.74885,-53.3360789/-27.74885,-53.3360789/-2...",2016-08-01,2016-08-31,2017-04-01,2017-04-30,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Seca,Grupo I,RS,None,SOJA,NaN,NaN
3,8311073,3,"-27.7435651,-53.3335104/-27.7435651,-53.333510...",2016-08-01,2016-08-31,2017-04-01,2017-04-30,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Seca,Grupo I,RS,None,SOJA,NaN,NaN
4,8311073,5,"-27.7494282,-53.3334653/-27.7494282,-53.333465...",2016-08-01,2016-08-31,2017-04-01,2017-04-30,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Seca,Grupo I,RS,None,SOJA,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6291,514772617,1,"-28.8740533,-52.2976289/-28.8740533,-52.297628...",2022-11-01,2022-11-30,2023-03-20,2023-04-10,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Granizo,Grupo I,RS,None,SOJA,NaN,NaN
6292,514817977,1,"-25.5864708,-52.2880498/-25.5864708,-52.288049...",2022-09-23,2022-09-23,2023-01-15,2023-01-15,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Variacao excessiva de temperatura,Nao informado,PR,None,SOJA,NaN,NaN
6293,514817977,2,"-25.5812935,-52.2916992/-25.5812935,-52.291699...",2022-09-23,2022-09-23,2023-01-15,2023-01-15,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Variacao excessiva de temperatura,Nao informado,PR,None,SOJA,NaN,NaN
6294,514927231,1687415,"-26.692262,-52.2782132/-26.692262,-52.2782132/...",2022-10-21,2022-10-30,2023-01-15,2023-02-15,Semente,Não Irrigado,Anual,Solo argiloso,Chuva excessiva,Grupo I,SC,None,SOJA,NaN,NaN
6295,514927231,1687416,"-26.6923258,-52.2786035/-26.6923258,-52.278603...",2022-10-21,2022-10-30,2023-01-15,2023-02-15,Semente,Não Irrigado,Anual,Solo argiloso,Chuva excessiva,Grupo I,SC,None,SOJA,NaN,NaN

In [94]:
predicoes_df[~predicoes_df['date'].isna()].shape

(84, 18)

aplicar modelo de previsão de indices

In [99]:
engine = create_engine(os.getenv('url_heroku'))
conn = engine.connect()

predicoes_df.to_sql('predicoes', conn, if_exists='replace', index=False)

296

salvar a nova coluna de previsões na views