In [2]:
from sqlalchemy import create_engine, text
from flask import Flask, jsonify, request
from dotenv import load_dotenv
import pandas as pd
import os

load_dotenv()

True

In [3]:
df_previsoes = pd.read_csv('../data/previsoes.csv')
df_previsoes = df_previsoes.loc[:, ~df_previsoes.columns.str.startswith('Unnamed')]

df_prev = pd.read_csv('../data/previsoes_1.csv')
df_prev = df_prev.loc[:, ~df_prev.columns.str.startswith('Unnamed')]

In [4]:
concatenado = pd.concat([df_previsoes, df_prev])
concatenado

        date  ref_bacen    indice  previsao
0    2017-08  506273616  0.018645       NaN
1    2017-10  506273616  0.024464       NaN
2    2017-11  506273616  0.015563       NaN
3    2017-12  506273616  0.005570       NaN
4    2018-01  506273616  0.008844       NaN
..       ...        ...       ...       ...
197  2022-10  512309065       NaN  0.055957
198  2022-11  512309065       NaN  0.064007
199  2022-12  512309065       NaN  0.053456
200  2023-01  512309065       NaN  0.062253
201  2023-02  512309065       NaN  0.143354

[275 rows x 4 columns]

In [5]:
concatenado.head()

      date  ref_bacen    indice  previsao
0  2017-08  506273616  0.018645       NaN
1  2017-10  506273616  0.024464       NaN
2  2017-11  506273616  0.015563       NaN
3  2017-12  506273616  0.005570       NaN
4  2018-01  506273616  0.008844       NaN

In [6]:
concatenado.to_csv('../data/conc.csv')

In [7]:
engine = create_engine(os.getenv('url_heroku'))

In [24]:
nome_da_tabela = 'table_prev_orig'

concatenado.to_sql(nome_da_tabela, engine, index=False, if_exists='replace')

print(f"Tabela '{nome_da_tabela}' criada com sucesso no PostgreSQL.")

Tabela 'table_prev_orig' criada com sucesso no PostgreSQL.

In [8]:
query = ''' SELECT * from 
        minha_view
            WHERE 1=1'''

engine = create_engine(os.getenv('url_heroku'))

conn = engine.connect()

In [10]:
# Executar a query
resultados = conn.execute(text(query)).fetchall()
resultados

[('2017-08', 506273616, 0.0186449252570689, None),
 ('2017-10', 506273616, 0.0244637680652722, None),
 ('2017-11', 506273616, 0.0155626775094755, None),
 ('2017-12', 506273616, 0.0055701147963574, None),
 ('2018-01', 506273616, 0.0088436618337987, None),
 ('2018-02', 506273616, 0.0106531913277416, None),
 ('2018-07', 506273616, 0.0453976240246915, None),
 ('2018-08', 506273616, 0.0009636119710795, None),
 ('2017-07', 505954021, 0.0006574621959237, None),
 ('2017-11', 505954021, 0.0, None),
 ('2017-12', 505954021, 0.010584810796507, None),
 ('2018-01', 505954021, 0.0167389956602603, None),
 ('2018-02', 505954021, 0.0020608558613165, None),
 ('2018-03', 505954021, 0.0074746396155899, None),
 ('2018-04', 505954021, 0.0773809523809523, None),
 ('2017-09', 505993977, 0.0048361096184846, None),
 ('2017-11', 505993977, 0.0009460737937559, None),
 ('2017-12', 505993977, 0.0032556974705735, None),
 ('2018-01', 505993977, 0.0093998553868402, None),
 ('2018-03', 505993977, 0.0238095238095238, None),
 ('2017-07', 505993977, 0.0121692188751739, None),
 ('2017-08', 505993977, 0.0044678309651468, None),
 ('2017-10', 505993977, 0.0157502727825017, None),
 ('2018-07', 505993977, 0.0251843615438542, None),
 ('2018-08', 505993977, 0.0072498128380011, None),
 ('2017-07', 505967820, 0.022933243797294, None),
 ('2017-08', 505967820, 0.0189366927050386, None),
 ('2017-09', 505967820, -0.0119901136957949, None),
 ('2017-10', 505967820, -0.0292224211409169, None),
 ('2017-12', 505967820, 0.017882590080162, None),
 ('2018-01', 505967820, 0.0519492330682124, None),
 ('2018-03', 505967820, 0.6538189204099225, None),
 ('2018-05', 505967820, 0.0221276006280668, None),
 ('2018-07', 505967820, 0.0052417684165689, None),
 ('2017-07', 505971238, 0.0624663678781911, None),
 ('2017-09', 505971238, 0.0073182048220874, None),
 ('2017-11', 505971238, 0.0214316352611993, None),
 ('2017-12', 505971238, 0.0233738820130539, None),
 ('2018-01', 505971238, 0.124577885263925, None),
 ('2018-02', 505971238, 0.0110169209959197, None),
 ('2018-07', 505971238, 0.001698370716975, None),
 ('2017-09', 505954021, -0.0012334510791234, None),
 ('2018-05', 505954021, 0.0023716871821316, None),
 ('2018-09', 506273616, None, 0.0009636119710795),
 ('2018-10', 506273616, None, 0.010286079260843),
 ('2018-11', 506273616, None, 0.0161049220690463),
 ('2018-12', 506273616, None, 0.0072038315132496),
 ('2019-01', 506273616, None, -0.0046391228067429),
 ('2019-02', 506273616, None, -0.0027887311998684),
 ('2018-06', 505954021, None, 0.0106581408030959),
 ('2018-07', 505954021, None, -0.0007895206786876),
 ('2018-08', 505954021, None, 0.0065737263128675),
 ('2018-09', 505954021, None, 0.0114031743259617),
 ('2018-10', 505954021, None, 0.0232273357863805),
 ('2018-11', 505954021, None, 0.0193382265903319),
 ('2018-09', 505993977, None, 0.0074001983718192),
 ('2018-10', 505993977, None, 0.0157990993888137),
 ('2018-11', 505993977, None, 0.0072195225619552),
 ('2018-12', 505993977, None, 0.0050081490277251),
 ('2019-01', 505993977, None, 0.005784172627622),
 ('2019-02', 505993977, None, 0.0138131838978814),
 ('2018-08', 505967820, None, 0.022933243797294),
 ('2018-09', 505967820, None, 0.0189366927050386),
 ('2018-10', 505967820, None, -0.0119901136957949),
 ('2018-11', 505967820, None, 0.0400843948794818),
 ('2018-12', 505967820, None, -0.0292224211409169),
 ('2019-01', 505967820, None, 0.017882590080162),
 ('2018-08', 505971238, None, 0.0624663678781911),
 ('2018-09', 505971238, None, 0.0073182048220874),
 ('2018-10', 505971238, None, 0.0055737172041019),
 ('2018-11', 505971238, None, 0.0214316352611993),
 ('2018-12', 505971238, None, 0.0137677466635292),
 ('2019-01', 505971238, None, -0.0086573366693027),
 ('2020-08', 511332955, -0.00130451096106, None),
 ('2020-09', 511332955, 0.0116046022652461, None),
 ('2020-10', 511332955, -0.0166789682480565, None),
 ('2020-12', 511332955, -0.0420008134822565, None),
 ('2021-01', 511332955, 0.0997712784624781, None),
 ('2021-04', 511332955, -0.0019830411172426, None),
 ('2021-06', 511332955, 0.0088310020094283, None),
 ('2021-07', 511332955, 0.0359154888424769, None),
 ('2017-09', 506185541, 0.0013738470491699, None),
 ('2017-11', 506185541, 0.0136928392848411, None),
 ('2018-01', 506185541, -0.0112625785827699, None),
 ('2018-03', 506185541, 0.0310719648759621, None),
 ('2018-04', 506185541, 0.0516732750495921, None),
 ('2018-05', 506185541, 0.0431895768399986, None),
 ('2018-07', 506185541, 0.0016088166335424, None),
 ('2021-07', 512310043, 0.0104261106074342, None),
 ('2021-10', 512310043, 0.0299428571428571, None),
 ('2021-11', 512310043, 0.0211235955056179, None),
 ('2022-01', 512310043, 0.0188679245283018, None),
 ('2022-03', 512310043, 0.2224231464737794, None),
 ('2022-05', 512310043, 0.0297872340425531, None),
 ('2022-07', 512310043, 0.0501395637341052, None),
 ('2022-08', 512310043, 0.0109011627906976, None),
 ('2019-09', 508624815, 0.0116778130822324, None),
 ('2019-10', 508624815, 0.0840493850776135, None),
 ('2019-11', 508624815, -0.0657873503799978, None),
 ('2019-12', 508624815, 0.1142867098135307, None),
 ('2020-01', 508624815, 0.3959249564403609, None),
 ('2020-02', 508624815, -0.0701942684076608, None),
 ('2020-03', 508624815, 0.0205168648842953, None),
 ('2020-06', 508624815, -0.0231503438483557, None),
 ('2020-07', 508624815, 0.0151731511557245, None),
 ('2021-07', 512301737, 0.015279819524455, None),
 ('2022-02', 512301737, 0.0157064253079898, None),
 ('2022-03', 512301737, -0.0207155560246681, None),
 ('2022-04', 512301737, -0.0336427576096197, None),
 ('2022-05', 512301737, 0.0528535893267777, None),
 ('2022-06', 512301737, 0.2848194011818628, None),
 ('2022-07', 512301737, 0.0179702117666378, None),
 ('2022-08', 512301737, 0.0103589680263434, None),
 ('2019-10', 50, 0.0135620263262863, None),
 ('2019-11', 50, 0.002474481905351, None),
 ('2019-12', 50, 0.002412221924417, None),
 ('2020-01', 50, 0.0014396775122372, None),
 ('2020-02', 50, 0.0833333333333333, None),
 ('2020-03', 50, 0.0007509386733416, None),
 ('2020-08', 50, 0.0002830856334041, None),
 ('2021-07', 512308192, 0.0077215958075956, None),
 ('2021-08', 512308192, -0.0041408990266997, None),
 ('2021-09', 512308192, 0.0244948843623124, None),
 ('2021-10', 512308192, 0.1674923881063846, None),
 ('2021-11', 512308192, 0.4265852905059391, None),
 ('2022-01', 512308192, 0.2214309847230066, None),
 ('2022-02', 512308192, 0.3186139937731768, None),
 ('2022-04', 512308192, 0.0369556881356271, None),
 ('2022-06', 512308192, 0.094444188974883, None),
 ('2021-08', 512483993, 0.0126971696240739, None),
 ('2021-11', 512483993, 0.0752691774663991, None),
 ('2022-01', 512483993, 0.0109681496242154, None),
 ('2022-02', 512483993, 0.066122026119048, None),
 ('2022-03', 512483993, -0.0177882425776935, None),
 ('2022-04', 512483993, 0.046566778217401, None),
 ('2022-05', 512483993, 0.0161782882081183, None),
 ('2022-07', 512483993, 0.0136056031270424, None),
 ('2022-08', 512483993, 0.0036118649820982, None),
 ('2021-07', 512311809, 0.0138885872349402, None),
 ('2021-08', 512311809, 0.0342107652095326, None),
 ('2021-11', 512311809, 0.0155588660710073, None),
 ('2022-02', 512311809, 0.0736916089964244, None),
 ('2022-03', 512311809, -0.0758358712540108, None),
 ('2022-04', 512311809, -0.0356496054367558, None),
 ('2022-05', 512311809, 0.0609107369969454, None),
 ('2022-08', 512311809, 0.0041746282047972, None),
 ('2021-08', 512678455, 0.0075122407106014, None),
 ('2021-09', 512678455, 0.9954308791916134, None),
 ('2021-12', 512678455, 0.3538943769714623, None),
 ('2022-02', 512678455, 0.8201705503009308, None),
 ('2022-03', 512678455, -0.1083278480543035, None),
 ('2022-04', 512678455, 0.0118372169669463, None),
 ('2022-05', 512678455, 0.0379395414286721, None),
 ('2022-06', 512678455, -0.0027372461899535, None),
 ('2022-08', 512678455, 0.0133537374776513, None),
 ('2020-07', 510783654, 0.0146605979750292, None),
 ('2020-08', 510783654, 0.0002080951351278, None),
 ('2020-10', 510783654, 0.0338059619944153, None),
 ('2020-12', 510783654, 0.0240632645003793, None),
 ('2021-01', 510783654, 0.0006722454140734, None),
 ('2021-02', 510783654, 0.0132648543124233, None),
 ('2021-04', 510783654, 0.0013711155678819, None),
 ('2021-07', 510783654, 0.0188966135057248, None),
 ('2021-08', 510783654, 0.001409813350559, None),
 ('2019-07', 509157665, 0.0085217267289405, None),
 ('2019-08', 509157665, 0.0036495144982368, None),
 ('2019-09', 509157665, 0.0951902851598571, None),
 ('2019-10', 509157665, 0.190009329257756, None),
 ('2019-11', 509157665, 0.077909004070857, None),
 ('2020-01', 509157665, -0.0195890418750628, None),
 ('2020-02', 509157665, 0.025770487920333, None),
 ('2020-06', 509157665, 0.0257336361965364, None),
 ('2020-07', 509157665, -0.0008823670180012, None),
 ('2020-08', 509157665, 0.0037127969459867, None),
 ('2021-07', 513286055, 0.0071728244688049, None),
 ('2021-08', 513286055, 0.005247376311844, None),
 ('2021-09', 513286055, 0.0012614317250078, None),
 ('2021-12', 513286055, 0.0081595648232094, None),
 ('2022-07', 513286055, 0.0136417556346381, None),
 ('2022-08', 513286055, 0.0011086474501108, None),
 ('2021-07', 512307605, 0.0209338323475244, None),
 ('2021-09', 512307605, 0.0212572058377538, None),
 ('2021-10', 512307605, -0.0317626800190255, None),
 ('2022-02', 512307605, 0.0927942089005566, None),
 ('2022-03', 512307605, -0.0400717373592212, None),
 ('2022-04', 512307605, 0.0756830283076245, None),
 ('2022-05', 512307605, 0.015718197643828, None),
 ('2022-06', 512307605, 0.0332732960009342, None),
 ('2021-07', 512309065, 0.0161008372435366, None),
 ('2021-09', 512309065, 0.0055493895671476, None),
 ('2021-10', 512309065, 0.0143472022955523, None),
 ('2021-12', 512309065, 0.0954478707782672, None),
 ('2022-01', 512309065, 0.002020202020202, None),
 ('2022-02', 512309065, 0.0018107741059302, None),
 ('2022-03', 512309065, 0.0061182868796736, None),
 ('2022-06', 512309065, 0.0205761316872428, None),
 ('2022-08', 512309065, 0.055956678700361, None),
 ('2018-08', 506185541, None, 0.0084712622752751),
 ('2018-09', 506185541, None, 0.0091581861433217),
 ('2018-10', 506185541, None, 0.0066638470042504),
 ('2018-11', 506185541, None, 0.0214771783789929),
 ('2018-12', 506185541, None, -0.0034782394886181),
 ('2019-01', 506185541, None, 0.0388563039701139),
 ('2022-09', 512310043, None, 0.0),
 ('2022-10', 512310043, None, 0.0),
 ('2022-11', 512310043, None, 0.0052130579102434),
 ('2022-12', 512310043, None, 0.0247298044456663),
 ('2023-01', 512310043, None, 0.0159105428084271),
 ('2023-02', 512310043, None, 0.0136548718311111),
 ('2020-08', 508624815, None, -0.1433088682188823),
 ('2020-09', 508624815, None, 0.1919357262076549),
 ('2020-10', 508624815, None, 0.22202734984456),
 ('2020-11', 508624815, None, 0.4702935749189855),
 ('2020-12', 508624815, None, 0.2152848659792712),
 ('2021-01', 508624815, None, 0.1740013503469667),
 ('2022-09', 512301737, None, 0.0103589680263434),
 ('2022-10', 512301737, None, 0.0179988816085239),
 ('2022-11', 512301737, None, 0.0145892924555346),
 ('2022-12', 512301737, None, 0.0184254873920587),
 ('2023-01', 512301737, None, -0.0179964939405993),
 ('2023-02', 512301737, None, 0.0546269810631083),
 ('2020-09', 50, None, 0.0002830856334041),
 ('2020-10', 50, None, 0.0002830856334041),
 ('2020-11', 50, None, 0.0070641021870521),
 ('2020-12', 50, None, 0.0120618382958066),
 ('2021-01', 50, None, 0.0089205780634089),
 ('2021-02', 50, None, -0.0040234422338831),
 ('2022-07', 512308192, None, 0.0016163898814954),
 ('2022-08', 512308192, None, 0.0054771897156912),
 ('2022-09', 512308192, None, -0.0063853051186041),
 ('2022-10', 512308192, None, 0.022250478270408),
 ('2022-11', 512308192, None, 0.1652479820144802),
 ('2022-12', 512308192, None, 0.4243408844140347),
 ('2022-09', 512483993, None, 0.0036118649820982),
 ('2022-10', 512483993, None, 0.009960452968426),
 ('2022-11', 512483993, None, 0.0725324608107512),
 ('2022-12', 512483993, None, 0.0082314329685675),
 ('2023-01', 512483993, None, 0.0633853094634001),
 ('2023-02', 512483993, None, 0.019746389469307),
 ('2022-09', 512311809, None, 0.0041746282047972),
 ('2022-10', 512311809, None, 0.0111189252944124),
 ('2022-11', 512311809, None, 0.0314411032690048),
 ('2022-12', 512311809, None, 0.0127892041304795),
 ('2023-01', 512311809, None, 0.467508763981547),
 ('2023-02', 512311809, None, 0.0709219470558966),
 ('2022-09', 512678455, None, 0.0133537374776513),
 ('2022-10', 512678455, None, 0.0171098597110113),
 ('2022-11', 512678455, None, 1.005028498192023),
 ('2022-12', 512678455, None, 0.363491995971872),
 ('2023-01', 512678455, None, 0.8297681693013406),
 ('2023-02', 512678455, None, 0.1170291435680391),
 ('2020-09', 509157665, None, 0.0079736624408876),
 ('2020-10', 509157665, None, 0.0031014502101838),
 ('2020-11', 509157665, None, 0.0432394313766255),
 ('2020-12', 509157665, None, -0.0533541437090531),
 ('2021-01', 509157665, None, 0.0946422208718042),
 ('2021-02', 509157665, None, 0.1894612649697031),
 ('2022-09', 513286055, None, 0.0011086474501108),
 ('2022-10', 513286055, None, 0.0011086474501108),
 ('2022-11', 513286055, None, 0.0046950614777185),
 ('2022-12', 513286055, None, 0.0265465268401198),
 ('2023-01', 513286055, None, -0.0024777629910864),
 ('2023-02', 513286055, None, 0.0027696133207576),
 ('2022-07', 512307605, None, 0.0332732960009342),
 ('2022-08', 512307605, None, 0.0437402174081519),
 ('2022-09', 512307605, None, 0.0441739257024371),
 ('2022-10', 512307605, None, 0.0440635908983812),
 ('2022-11', 512307605, None, -0.0089562949583981),
 ('2022-12', 512307605, None, 0.6396975541977626),
 ('2022-09', 512309065, None, 0.055956678700361),
 ('2022-10', 512309065, None, 0.055956678700361),
 ('2022-11', 512309065, None, 0.0640071013473366),
 ('2022-12', 512309065, None, 0.0534556536709475),
 ('2023-01', 512309065, None, 0.0622534663993523),
 ('2023-02', 512309065, None, 0.1433541348820672)]

criar consulta dos dados na view 'public.vw_query_glebas_resultado'

In [89]:
query = ''' SELECT * from 
        vw_query_glebas_resultado
            WHERE 1=1'''

engine = create_engine(os.getenv('url_heroku'))

conn = engine.connect()

# Executar a query
resultados = conn.execute(text(query)).fetchall()

# Montar a lista de resultados
lista_resultados = []
for resultado in resultados:
    resultado_dict = {
        "ref_bacen": resultado.ref_bacen,
        "nu_identificador": resultado.nu_identificador,
        "coordenadas": resultado.coordenadas,
        "inicio_plantio": resultado.inicio_plantio,
        "final_plantio": resultado.final_plantio,
        "inicio_colheita": resultado.inicio_colheita,
        "final_colheita": resultado.final_colheita,
        "descricao_grao": resultado.descricao_grao,
        "descricao_irrigacao": resultado.descricao_irrigacao,
        "descricao_producao": resultado.descricao_producao,
        "descricao_solo": resultado.descricao_solo, 
        "descricao_evento": resultado.descricao_evento, 
        "descricao_cultiva": resultado.descricao_cultiva,
        "estado": resultado.estado,
        "municipio": resultado.municipio,
        "produto": resultado.produto
    }
    lista_resultados.append(resultado_dict)

#  Fechar a conexão
conn.close()

In [90]:
df = pd.DataFrame(lista_resultados)

In [91]:
df

,ref_bacen,nu_identificador,coordenadas,inicio_plantio,final_plantio,inicio_colheita,final_colheita,descricao_grao,descricao_irrigacao,descricao_producao,descricao_solo,descricao_evento,descricao_cultiva,estado,municipio,produto
0,7427021,1,"-24.434501,-52.2819015/-24.434501,-52.2819015/...",None,None,None,None,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Geada,Grupo I,PR,None,SOJA
1,7427021,2,"-24.435643,-52.2816107/-24.435643,-52.2816107/...",None,None,None,None,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Geada,Grupo I,PR,None,SOJA
2,8311073,2,"-27.74885,-53.3360789/-27.74885,-53.3360789/-2...",2016-08-01,2016-08-31,2017-04-01,2017-04-30,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Seca,Grupo I,RS,None,SOJA
3,8311073,3,"-27.7435651,-53.3335104/-27.7435651,-53.333510...",2016-08-01,2016-08-31,2017-04-01,2017-04-30,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Seca,Grupo I,RS,None,SOJA
4,8311073,5,"-27.7494282,-53.3334653/-27.7494282,-53.333465...",2016-08-01,2016-08-31,2017-04-01,2017-04-30,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Seca,Grupo I,RS,None,SOJA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6221,514772617,1,"-28.8740533,-52.2976289/-28.8740533,-52.297628...",2022-11-01,2022-11-30,2023-03-20,2023-04-10,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Granizo,Grupo I,RS,None,SOJA
6222,514817977,1,"-25.5864708,-52.2880498/-25.5864708,-52.288049...",2022-09-23,2022-09-23,2023-01-15,2023-01-15,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Variacao excessiva de temperatura,Nao informado,PR,None,SOJA
6223,514817977,2,"-25.5812935,-52.2916992/-25.5812935,-52.291699...",2022-09-23,2022-09-23,2023-01-15,2023-01-15,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Variacao excessiva de temperatura,Nao informado,PR,None,SOJA
6224,514927231,1687415,"-26.692262,-52.2782132/-26.692262,-52.2782132/...",2022-10-21,2022-10-30,2023-01-15,2023-02-15,Semente,Não Irrigado,Anual,Solo argiloso,Chuva excessiva,Grupo I,SC,None,SOJA
6225,514927231,1687416,"-26.6923258,-52.2786035/-26.6923258,-52.278603...",2022-10-21,2022-10-30,2023-01-15,2023-02-15,Semente,Não Irrigado,Anual,Solo argiloso,Chuva excessiva,Grupo I,SC,None,SOJA

In [92]:
predicoes_df = df.merge(df_previsoes, on='ref_bacen', how='left')

In [93]:
predicoes_df

,ref_bacen,nu_identificador,coordenadas,inicio_plantio,final_plantio,inicio_colheita,final_colheita,descricao_grao,descricao_irrigacao,descricao_producao,descricao_solo,descricao_evento,descricao_cultiva,estado,municipio,produto,date,previsao
0,7427021,1,"-24.434501,-52.2819015/-24.434501,-52.2819015/...",None,None,None,None,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Geada,Grupo I,PR,None,SOJA,NaN,NaN
1,7427021,2,"-24.435643,-52.2816107/-24.435643,-52.2816107/...",None,None,None,None,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Geada,Grupo I,PR,None,SOJA,NaN,NaN
2,8311073,2,"-27.74885,-53.3360789/-27.74885,-53.3360789/-2...",2016-08-01,2016-08-31,2017-04-01,2017-04-30,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Seca,Grupo I,RS,None,SOJA,NaN,NaN
3,8311073,3,"-27.7435651,-53.3335104/-27.7435651,-53.333510...",2016-08-01,2016-08-31,2017-04-01,2017-04-30,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Seca,Grupo I,RS,None,SOJA,NaN,NaN
4,8311073,5,"-27.7494282,-53.3334653/-27.7494282,-53.333465...",2016-08-01,2016-08-31,2017-04-01,2017-04-30,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Seca,Grupo I,RS,None,SOJA,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6291,514772617,1,"-28.8740533,-52.2976289/-28.8740533,-52.297628...",2022-11-01,2022-11-30,2023-03-20,2023-04-10,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Granizo,Grupo I,RS,None,SOJA,NaN,NaN
6292,514817977,1,"-25.5864708,-52.2880498/-25.5864708,-52.288049...",2022-09-23,2022-09-23,2023-01-15,2023-01-15,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Variacao excessiva de temperatura,Nao informado,PR,None,SOJA,NaN,NaN
6293,514817977,2,"-25.5812935,-52.2916992/-25.5812935,-52.291699...",2022-09-23,2022-09-23,2023-01-15,2023-01-15,Grão/Consumo,Não Irrigado,Anual,Solo argiloso,Variacao excessiva de temperatura,Nao informado,PR,None,SOJA,NaN,NaN
6294,514927231,1687415,"-26.692262,-52.2782132/-26.692262,-52.2782132/...",2022-10-21,2022-10-30,2023-01-15,2023-02-15,Semente,Não Irrigado,Anual,Solo argiloso,Chuva excessiva,Grupo I,SC,None,SOJA,NaN,NaN
6295,514927231,1687416,"-26.6923258,-52.2786035/-26.6923258,-52.278603...",2022-10-21,2022-10-30,2023-01-15,2023-02-15,Semente,Não Irrigado,Anual,Solo argiloso,Chuva excessiva,Grupo I,SC,None,SOJA,NaN,NaN

In [94]:
predicoes_df[~predicoes_df['date'].isna()].shape

(84, 18)

aplicar modelo de previsão de indices

In [99]:
engine = create_engine(os.getenv('url_heroku'))
conn = engine.connect()

predicoes_df.to_sql('predicoes', conn, if_exists='replace', index=False)

296

salvar a nova coluna de previsões na views